
.carousel-container {
  overflow: hidden;
  position: relative;
  width: 95%;
  max-width: 100%;
  margin: auto;
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
  /* Ensures all slides are in a single row and slide smoothly */
}

.carousel-slide {
  min-width: 100%; /* Each slide takes the full width of the container */
  box-sizing: border-box;
}

.carousel-slide img {
  width: 100%;
  height: auto;
  display: block;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}
