.container {
    background-color: dodgerblue;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
}

.container > div {
    border-radius: 7px;
    overflow: hidden;
    background: #202030;
    position: relative;
    min-width: 0;
    min-height: 0;
}