.container {
    
    padding: 10px;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 3fr 3fr 3fr;
    gap: 3em;
}

.container > div {
    border-radius: 7px;
    overflow: hidden;
    background: #202030;
    position: relative;
    min-width: 350px;
    min-height: 350px;
}