body {
    height: 100%;
    display: block;
    margin: auto auto;
    background-color: 9999CC;
}

header {
    background-color: #DDDDDD;
    box-shadow: inset 0 -1px 0 0 black, inset 0 -2px 0 0 #9c9c9c;
    font-family: Charcoal, "WebCharcoal", sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin-top: 0px;
    padding-left: 5px;
    height: 20px;
}

header span {
    margin-right: 5px;
}

/* Will be replaced with vertical dot imagge */
#finderBtn {
    height: 12px;
    width: 3px;
    user-select: none;
}

.rightHeader {
    float: right;
}

.window {
    position: absolute;
    display: block;
    padding: 3px;
    min-width: 1px;
    overflow: hidden;
}

.titlebar {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    background-color: lightgray;
    user-select: none;
}

.content {
    background-color: white;
    border-style: groove;
    display: block;
    height: 90%;
}

.outline {
    position: absolute;
    display: block;
    overflow: hidden;
    border-style: dotted;
    border-color: black;
}

.content img {
    max-width: 100%;
    height: auto;
    display: block;
}