.searchbar {
    padding: 15px;
}

@media (min-width: 761px) {
    .searchbar input {
        display: grid;
        margin: auto;
        height: 30px;
        min-width: 525px;
        width: 99%;
        border-radius: 8px;
        text-align: center;
        font-size: 25px;
        background-color: transparent;
        color: white;
        border: none;
        border-radius: 20px;
        outline: solid 3px white;
    }
}

@media (max-width: 760px) {
    .searchbar input {
        display: grid;
        margin: auto;
        width: 99%;
        border-radius: 8px;
        text-align: center;
        font-size: 25px;
        background-color: transparent;
        color: white;
        border: none;
        border-radius: 20px;
        outline: solid 3px white;
    }
}

.container {
    padding: 0px;
    display: grid;
    --max-cols: 5; 
    --min-item-width: 300px; 
    --gap: 10px; 
    grid-template-columns: repeat(auto-fit, minmax(
      max(var(--min-item-width), calc(100% / var(--max-cols) - var(--gap) * (var(--max-cols) - 1) / var(--max-cols))),
      1fr
    ));
    gap: 10px;
    width:90%;
    height:90%;
    min-height: 1000px;
}

.container > div {
    border-radius: 7px;
    overflow: hidden;
    position: relative;
    max-width: 500px;
    max-height: 500px;
    background-color: #282c34;
}